@model List<SalesCrack.Models.Product>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin_Navbar_Layout.cshtml";
}
<h2>Edit Products</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Active</th>
            <th scope="col">Seller</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.IdProduct</th>
                <td>@p.Name</td>
                <td>@p.Stock</td>
                <td>@p.Price</td>
                <td>
                    <input id="sell" type="checkbox" @if(p.Active){ <text>checked</text> } data-toggle="toggle">
                </td>
                <td>@p.Seller.Usename</td>
            </tr>
        }
    </tbody>
</table>
