<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body> 
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="https://image-placeholder.com/images/actual-size/75x75.png" />
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary">Log out</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/Admin/Products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Edit">Edit Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Load">Load CSV</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SalesCrack!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
